
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Glory', sans-serif;
    color: #135561;
    background: #d9f3f7;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 20px;
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1280px;
    flex-wrap: wrap;
    overflow-x: hidden;;
}

@media (max-width:1300px){
    .container{
        max-width: 970px;
    }
}

@media (max-width:992px){
    .container{
    max-width: 750px;
    }
}

@media (max-width:767px){
    .container{
    max-width: none; 
    }
}

ul {
    line-height: 30px;
    padding-left: 20px;
}

/*HEADER*/
header {
    width: 100%; 
    grid-column: 2/4;
}

.header {
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content:right;
    background: #43d4f5;
    width: 100%;
    min-height: 40px;  
}

nav {
    position: relative;
}

.burger-menu {
    position: relative;
}

.menu-btn {
    display: flex;
    align-items: center;
    position:absolute;
    top: 0;
    right:0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #135561;
    transition-duration: .4s;
  }
  .menu-btn > span::before {
    content: '';
    top: -10px;
  }
  .menu-btn > span::after {
    content: '';
    top: 10px;
  }
   
  .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: -600px;
    width: 150px;
    height: 600px;
    margin: 0;
    list-style: none;
    background-color: #80eae5;
    box-shadow: 2px 0px 6px #000 ;
    transition-duration: .4s;
    z-index: 1;
  }
   
  .menu-item {
    display: block;
    overflow: hidden;
    padding: 12px 24px;
    color: #135561;
    font-family: 'Glory', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    z-index: 1;
  }
  .menu-item:hover {
    background-color: #80eae5;
  }
   
  #menu-toggle{
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    top: 0;
  }

/*MAIN*/

/*ASIDE*/
.photo-info {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
    grid-row: 1/4;
    position: sticky;
    background: #80eae5;
    flex-direction: column;
    min-width: 410px;
    overflow:hidden;
}

.photo {
    height: 300px;
    object-fit: scale-down;
}

.myname {
    padding: 25px 0;
    color: #135561;
    font-size: 0;
    line-height: 0.5;
    text-align: center;
}

.myname span {
    font-size: 40px;
    font-weight: 800;
    display: inline-block;
    animation: move 4s ease-in-out infinite;
}

.myname span:hover {
    cursor: default;
}

@keyframes move {
    0% {
        transform: translate(0%, 0);
    }
    50% {
        text-shadow: 0 25px 50px;
    }
    70% {
        transform: translate(30%, 0);
    }
}

.contacts-container {
    margin-top: 36px;
    margin-left: 10px;
    font-size: 21px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 2px;
    color: #135561;
    transition: .5s ease color;
}

.contacts-container h2 {
    margin-left: 25px;
    text-decoration: underline;
    font-size: 32px;
}

.contacts-inf {
    list-style-type: none;
}

.contact-block {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    justify-content: left;
}

.contact_link {
    list-style-type: none;
    line-height: 35px;
    color: #135561;
    padding-left: 10px;
}

.contact-img {
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 25px;
}

/*main-content*/

.main-content {
    padding: 0 16px;
}

.section-title {
    position: relative;
    margin: 0;
    margin-bottom: 36px;
    padding-left: 60px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    font-weight: 600;
    color: #135561;
    text-align: center;
    background-color: #80eae5;
}

.section-title::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 70px;
    height: 35px;
    background-color: #43d4f5;
}



/*FOOTER*/

footer {
    background: #43d4f5;
    width: 100%; 
    grid-column: 2/4;
    min-height: 50px;  
}

.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1440px;
margin-top: 20px;
margin-bottom: 20px;
width: 1440px;
margin-left: 240px;
margin-right: 310px;
}

footer img {
    width: 70px;
    margin: 5px 5px 0 5px;
}

footer img:hover {
	z-index: 10;
	transition: 1s;
    transform: scale(1.5);
}

 footer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;
}	

.header_link {
    font-family: 'Glory', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 40%;
    padding: 10px 15px;
    transition: 0.5s ease color;
}

.header_link:hover {
    background-color:#FFFFFF;
    opacity: 0.8;
    box-shadow: 3px 5px #135561;
    color: #135561;
    transition: 0.5s ease color;
}