h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

ul,
li {
    list-style: none;
}

html,
body {
	font-family: Hahmlet;
	font-size: 16px;
	height: 100%;
	line-height: 1;
	font-weight: 400;
	font-size: 16px;
	scroll-behavior: smooth;
	--color1: #135561;
	--color2: #d9f3f7;
	--colorWhite: #43d4f5;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	background-color: var(--color2);
  }

.container {
    max-width: 1400px;
    margin: 0 auto;
}


/*header*/
header {
    grid-column: 2/4;
    min-height: 40px;
}

.header {
    background: var(--colorWhite);
    min-height: 40px;  
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 14px;
	padding: 20px 10px;
	position: relative;
}

.menu-item {
	text-decoration: none;
	letter-spacing: 1px;
    color: var(--color3);
    transition: .5s ease color;
}

.menu-item:hover {
    color: var(--color2);
}